extends layout.pug
include mixins.pug

block content
  section.primary
    div.content
    
      h1 Your countryside retreat list
      h2 Tick what you've packed
      img(src="./assets/illustration-countryside.png" alt="Trees, leaf and car base icons created by Made by Made")
    
  section.secondary
    div.content
    
      h2 Essentials
      
      div.blocks
      
        +item("Passports", "passport")  
        +item("Flight tickets", "flight")
        +item("Hotel bookings", "hotel")
        +item("Car rental bookings", "car")
        +item("Wallet", "wallet")
        +item("Phone with charger", "phone")

  section.secondary
    div.content
    
      h2 Basics

      div.blocks

        +item("Hiking shoes", "hikingshoes")  
        +item("Casual outfits", "casualoutfits")
        +item("Underwear", "underwear")
        +item("Soap and shampoo", "shampoo")
        +item("Toothbrush", "toothbrush")
        +item("Toothpaste", "toothpaste")
        +item("Hair comb", "brush")

  section.secondary
    div.content
    
      h2 Extras

      div.blocks

        +item("Makeup", "makeup")
        +item("Camera with charger", "camera")
        +item("Laptop with charger", "laptop")
        +item("Powerbank with charger", "powerbank")
        +item("Adaptator", "plug")
        +item("Headphones", "headphones")
        +item("Book", "book")
