html

  head

    title Wanderlist
    link(rel="stylesheet" type="text/css" href="./style.css")

  body

    header

      nav
      
        a.logo(href="./index.html") Wanderlist
          
        ul
          li 
            a(href="") City escape
          li 
            a(href="") Beach holiday
          li 
            a(href="") Countryside retreat
