html

  head

    title Wanderlist
    link(rel="stylesheet" type="text/css" href="./style.css")

  body

    header

      nav
        a.logo(href="./index.html") Wanderlist  
        ul
          li 
            a(href="") City escape
          li 
            a(href="") Beach holiday
          li 
            a(href="") Countryside retreat

    section.primary
    
      div.content
      
        h1 Wanderlist
        h2 A smart checklist to help you pack for your trips
        img(src="./assets/illustration-wanderlist.png" alt="Luggage, suitcase and backpack base icons created by Made by Made")

      
