doctype html

html

  head

    title Wanderlist
    link(rel="stylesheet" type="text/css" href="./style.css")

  body

    header
      nav

        a.logo(href="./index.html") Wanderlist

        ul
          li
            a.link(href="./city.html") City escape
          li
            a.link(href="./beach.html") Beach holiday
          li
            a.link(href="./countryside.html") Countryside retreat

    block content

    footer
      nav

        aside
          p Made with love by 
            a.link.inline(href="https://www.charlottebretonsch.com/") Charlotte Breton Schreiner
          p.small Base icons created by Made by Made

        ul
          li
            a.link(href="") Product Hunt
          li
            a.link(href="") Github
