mixin item(name, icon)
    
  label.block.item= name
    input(type="checkbox" name="agreement")
    img(src="./assets/icon-"+icon+".png" alt=" "+name+"base icon created by Made by Made")
    span.checkmark
