// Import

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');




// Variables

grid-size = 4px
grid-fullwidth = grid-size*218
grid-onethird = 33%

color-dark = #202634
color-light = #FFFFFF
color-accent = #FFD33E
color-primary = #FFFBEF
color-secondary = #F4F4F4




// Set up

*
  margin 0
  padding 0
  text-decoration none
  outline none
  border none
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

html
  height 100%
  font-size 62.5%

body
  height 100%
  font-family 'Montserrat', sans-serif
  font-weight 400
  color color-dark
  margin auto

li
  list-style none
  display inline-block

img
  display block

a
  color inherit
  cursor pointer
  display block




// Text

h1, h2, a, p, p.small, .logo
  padding grid-size*2
  font-weight inherit

h1
  font-size grid-size*12
  line-height grid-size*15

h2
  font-size grid-size*6
  line-height grid-size*7.5

a, p
  font-size grid-size*4
  line-height grid-size*6

p.small
  font-size grid-size*3
  line-height grid-size*5

.logo

  font-size grid-size*5
  line-height grid-size*7




// General

a.link::after
  content ""
  width 100%
  height grid-size
  border-radius grid-size
  background-color color-accent
  display block

a.button
  padding grid-size*4 grid-size*6
  background color-dark
  color color-light
  margin grid-size*2
  border-radius grid-size*2

nav, .content
  width grid-fullwidth
  margin auto
  padding grid-size*2




// Header

header
  background color-dark
  width 100%
  color color-light

  nav
    display flex
    justify-content space-between




// Section

section
  width 100%

section.primary
  background-color color-primary
  text-align center

  .content
    padding grid-size*28 grid-size*2 0 grid-size*2

    img
      height grid-size*50
      width auto
      margin auto
      margin-top grid-size*10

section.secondary
  text-align center
  border-bottom grid-size solid color-secondary

  &:last-child
    border-bottom 0

  h2
    margin-bottom grid-size*6
    
  .blocks
    margin-top grid-size*6

  .content
    padding grid-size*12 grid-size*2


// Blocks

.blocks
  display flex
  flex-direction row

  .block
    width grid-onethird
    border-radius grid-size*2
    margin grid-size*2

  .block.primary
    background-color color-primary
    padding grid-size*6 grid-size*4 0 grid-size*4

    img
      height auto
      width 100%
      padding grid-size*6 grid-size*2 0 grid-size*2






// End
