// Import

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');




// Variables

grid-size = 4px
grid-fullwidth = grid-size*218

color-dark = #202634
color-light = #FFFFFF
color-accent = #FFD33E
color-primary = #FFFBEF
color-secondary = #F4F4F4




// Set up

*
  margin 0
  padding 0
  text-decoration none
  outline none
  border none
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

html
  height 100%
  font-size 62.5%

body
  height 100%
  font-family 'Montserrat', sans-serif
  font-weight 400
  color color-dark
  margin auto
  margin-top grid-size*15

li
  list-style none
  display inline-block

img
  display block

a
  color inherit
  cursor pointer
  display block




// Text

h1, h2, a, p, p.small, .logo, label
  padding grid-size*2
  font-weight inherit

h1
  font-size grid-size*12
  line-height grid-size*15

h2
  font-size grid-size*6
  line-height grid-size*7.5

a, p, label
  font-size grid-size*4
  line-height grid-size*6

p.small
  font-size grid-size*3
  line-height grid-size*5

.logo

  font-size grid-size*5
  line-height grid-size*7




// General

a.link::after
  content ""
  width 100%
  height grid-size
  border-radius grid-size
  background-color color-accent
  display block

a.link.inline
  padding 0
  display inline-block

a.button
  padding grid-size*4 grid-size*6
  background color-dark
  color color-light
  margin grid-size*2 auto
  border-radius grid-size*2
  display inline-block

nav, .content
  width grid-fullwidth
  margin auto
  padding grid-size*2




// Header

header
  background color-dark
  width 100%
  color color-light
  position fixed
  top 0
  z-index 8

  nav
    display flex
    justify-content space-between




// Sections

section
  width 100%

section.primary
  background-color color-primary
  text-align center

  .content
    padding grid-size*28 grid-size*2 0 grid-size*2

    img
      height grid-size*58
      width auto
      margin auto
      padding grid-size*8 grid-size*2 0 grid-size*2

section.secondary
  text-align center
  border-bottom grid-size solid color-secondary

  &:last-child
    border-bottom 0

  h2
    margin-bottom grid-size*6

  .blocks
    margin-top grid-size*6

  .content
    padding grid-size*12 grid-size*2




// Blocks

.blocks
  display flex
  flex-direction row
  flex-wrap wrap

  .block
    width calc(33% - 16px)
    border-radius grid-size*2
    margin grid-size*2

  .block.primary
    background-color color-primary
    padding grid-size*6 grid-size*4 0 grid-size*4

    img
      height auto
      width 100%
      padding grid-size*6 grid-size*2 0 grid-size*2

  label.item
    height grid-size*22
    padding grid-size*3 grid-size*6 grid-size*3 grid-size*32
    background-color color-secondary
    text-align left
    display flex
    align-items: center;
    position relative
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

    input
      position absolute
      opacity 0
      cursor pointer

    .checkmark
      width grid-size*6
      height grid-size*6
      border-radius grid-size*1
      border 2px solid color-accent
      background-color color-light
      position absolute
      top grid-size*8
      left grid-size*6

      &:after
        content ""
        position absolute
        display none
        width grid-size*5
        height grid-size*5
        background-image url("./assets/icon-tick.png")
        background-size contain
        left 0
        top 0

    input:checked ~ .checkmark
      background-color color-accent

    input:checked ~ .checkmark:after
      display block

    img
      height grid-size*12
      width grid-size*12
      position absolute
      top grid-size*5
      left grid-size*16




// Footer

footer
  background color-secondary
  width 100%
  color color-dark

  a
    color color-dark

  nav
    display flex
    justify-content space-between
    padding grid-size*12 grid-size*2 grid-size*28 grid-size*2




// Responsive

@media screen and (max-width: 873px)

  body
    margin-top 0

  header
    display none

  nav, .content
    width 100%
    margin auto

  footer

    nav
      padding grid-size*8 grid-size*4 grid-size*14 grid-size*4
      justify-content flex-start
      flex-direction column


  section.primary

    .content
      padding grid-size*16 grid-size*4 0 grid-size*4

      img
        width 100%
        height auto

  section.secondary

    .content
      padding grid-size*8 grid-size*4

    h2
      margin-bottom grid-size*4

    .blocks
      margin-top grid-size*4

  .blocks
    flex-direction column

    .block
      width calc(100% - 16px)








// End
